.dashboard {
  display: grid;
  margin: 20px;
  grid-template-rows: auto;
  justify-content: flex-start;
}

.graphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.dashboard-graph-selection {
  display: grid;
  grid-template-columns: 100%;
  width: 200px;
  grid-template-rows: auto;
}

.dashboard-item {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 30px;
  align-items: center;
  height: 250px;
}

.dashboard-item-columns-selection {
  display: grid;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
